body,
html {
  height: 100%;
  display: grid;
  overflow: hidden;
}

body {
  transition: all 1s;
}

#container {
  display: grid;
  margin: auto;
}

body {
  background-color: #1d1d1d;
}

#clock {
  color: rgb(255, 255, 255);
  font-size: 10rem;
}

#control {
  font-size: 3rem;
}

#automatic { 
  margin: 1rem auto;
  font-size: 2rem;
}

label {
  color: rgb(255, 255, 255);
}

input {
  vertical-align: middle;
}
